DEEPGRAM_API_KEY=your_deepgram_api_key_here
DEEPGRAM_MODEL=nova-3
AI_GATEWAY_API_KEY=your_vercel_ai_gateway_key_here
AURADENT_AGENT_MODEL=openai/gpt-4.1-mini
AURADENT_SESSION_CLOSE_QUEUE_URL=https://sqs.us-east-1.amazonaws.com/123456789012/auradent-session-close
